.feature-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -30px;
  margin-left: -30px;
}
.feature-list-item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-top: 30px;
  margin-left: 30px;
}
.feature-item-logo {
  display: block;
  width: 70px;
  height: 70px;
}
.feature-card-wrapper-top {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: var(--secondary-bg-color);
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
