.header-logo,
.accent-logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.header-logo {
  color: var(--primary-text-color);
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;

  &:focus {
    outline: 2px solid var(--accent-color);
  }
}

.footer-logo {
  display: inline-block;
  color: var(--white-color);
  margin-bottom: 33px;
}
.accent-logo {
  color: var(--accent-color);
}
