.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-section {
  padding-bottom: 0;
  margin: 0;
}
.feature-section,
.about-section {
  background-color: var(--white-color);
}

.team-section {
  background-color: var(--secondary-bg-color);
}
.header {
  background-color: var(--white-color);
  margin: 0;
  border-bottom: 1px solid #ececec;
}
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
